
/* DISEÑO DEL COMIENZO */
#titulo{
    font-size: 45px;
    margin-top: 2%;
}
#imagen{
    width: 290px;

}
#begin{
    font-size: 39px;
    color: black;
    padding: 5px 68px ;
    margin-top: 25px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
}
#color{
    background-image: linear-gradient(
    to bottom,
    white 0,
    rgb(95, 135, 237) 50%,
    rgb(95, 135, 237) 100%);

    height: 100%;
}

/* DISEÑO DE LA SELECCION DE USUARIOS */
#select_user{
    background-color: rgb(221, 221, 221);
}
#marco_usuarios{
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: -1%;
    margin-bottom: 5%;
    border: 2px solid black;
}
#titul_selec{
    font-size: 45px;
}
#but_Admin{
    font-size: 39px;
    padding: 10px 86px ;
    margin-top: 44px;
    color: black;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
}
#but_Jefe{
    font-size: 39px;
    padding: 10px 68px ;
    margin-top: 44px;
    color: black;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
}
#but_Miner{
    font-size: 39px;
    padding: 10px 146px ;
    margin-top: 44px;
    margin-bottom: 20px;
    color: black;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
}

/* DISEÑO DEL LOG IN DEL ADMINISTRADOR */
#titul_Ad{
    font-size: 45px;
    margin-top: 2%;
    margin-bottom: 2%;
}
#marco_Ad{
    background-color: white;
    margin-top: 5%;
    margin-bottom: 5%;  
    border: 2px solid rgb(73, 73, 73);
    ;
}
#Ad_user{
    background-color: rgb(221, 221, 221);
}
#user_AdCanc{
    font-size: 18px;
    padding: 5px 80px ;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
#user_AdConf{
    font-size: 18px;
    padding: 5px 80px ;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    color: black;
}
#Aduser_txt{
    margin-right: 10%;
}
#Adpass_txt{
    margin-right: 10%;
}
#txt_userAd{
    margin: 5%;
   
}
#txt_passAd{
    margin: 5%;
    
}

/* DISEÑO DEL LOG IN DEL JEFE DE BODEGA */
#titul_Je{
    font-size: 45px;
    margin-top: 2%;
    margin-bottom: 2%;
}
#marco_Je{
    background-color: white;
    margin-top: 5%;
    margin-bottom: 5%;  
    border: 2px solid rgb(73, 73, 73);
}
#Je_user{
    background-color: rgb(221, 221, 221);
}
#user_JeCanc{
    font-size: 18px;
    padding: 5px 80px ;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
#user_JeConf{
    font-size: 18px;
    padding: 5px 80px ;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    color: black;
}
#Jeuser_txt{
    margin-right: 10%;
}
#Jepass_txt{
    margin-right: 10%;
}
#txt_userJe{
    margin: 5%;
}
#txt_passJe{
    margin: 5%;
}

/* DISEÑO DEL LOG IN DEL MINERO */
#titul_Mi{
    font-size: 45px;
    margin-top: 2%;
    margin-bottom: 2%;
}
#marco_Mi{
    background-color: white;
    margin-top: 5%;
    margin-bottom: 5%;  
    border: 2px solid rgb(73, 73, 73);
    ;
}
#Mi_user{
    background-color: rgb(221, 221, 221);
}
#user_MiCanc{
    font-size: 18px;
    padding: 5px 80px ;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
#user_MiConf{
    font-size: 18px;
    padding: 5px 80px ;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    color: black;
}
#Miuser_txt{
    margin-right: 10%;
}
#Mipass_txt{
    margin-right: 10%;
}
#txt_userMi{
    margin: 5%;
}
#txt_passMi{
    margin: 5%;
}

/* MENU ADMINISTRADOR */
#superior_line{
    display: flexbox;
    height: 60px;
    background-color: rgba(74, 112, 209, 1);
    align-items: center;
}

#arrow_image{
    height: 80px;
    padding-block-end: 30px;
    padding-block-start: 10px;
    margin-left: 10px;
}
#line_ADtitule{
    color: rgb(255, 255, 255);
    align-self: center;
}
#Sol_ON{
    height: 80px;
    padding-block-end: 30px;
    padding-block-start: 10px;
    margin-right: 10px;
}
#bt_move_liAd{
    font-size: 28px;
    padding: 5px 108px ;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
#bt_move_ediAd{
    font-size: 28px;
    padding: 5px 138px ;
    margin-top: 12px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
#bt_move_leAd{
    font-size: 28px;
    padding: 5px 122px ;
    margin-top: 12px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
#bt_move_lsAd{
    font-size: 28px;
    padding: 5px 132px ;
    margin-top: 12px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
#bt_move_lpAd{
    
    font-size: 28px;
    padding: 5px 90px ;
    margin-top: 12px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
#bt_move_cbAd{
    font-size: 28px;
    padding: 5px 134px ;
    margin-top: 12px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
#bt_move_soliAd{
    font-size: 28px;
    padding: 5px 150px ;
    margin-top: 12px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
#full_backup{
    font-size: 30px;
    padding: 9px 40px ;
    margin-left: 17%;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
#bt_move_cuAd{
    font-size: 30px;
    padding: 9px 40px ;
    
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}

/* LISTA DE BODEGA DEL ADMINISTRADOR */
.test_lista{
    margin: 35px;
    width: 94%;
    height: 65%;
}
#txt_listadoAd{
    margin-left: 250px;
}
#busca_listadoAd{
    font-size: 17px;

}
#buscar_Adlistado{
    padding: 4px 25px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
#Adlista_Exc{
    margin-block-end: 10%;
    padding: 4px 25px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}

/* EDITAR LISTADOS DEL ADMINISTRADOR*/
.test_edicion{
    position: fixed;
    margin: 35px;
    width: 64%;
    height: 55%;
}
.Newpro_Ad{
    position: fixed;
    font-size: 20px;
    margin-top: 30%;
    margin-left: 8%;
    padding: 4px 47px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
.Extra_Ad{
    position: fixed;
    font-size: 20px;
    margin-top: 30%;
    margin-left: 38%;
    padding: 4px 78px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
.Exist_Ad{
    position: fixed;
    font-size: 20px;
    margin-top: 35%;
    margin-left: 8%;
    padding: 4px 25px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
.Delet_Ad{
    position: fixed;
    font-size: 20px;
    margin-top: 35%;
    margin-left: 38%;
    padding: 4px 75px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
#titul_edit_testAd{
    font-size: 25px;
    margin-left: 70%;
}
#txt_name_newproAd{
    position: fixed;
    margin-left: 69%;
}
#txt_tipe_newproAd{
    position: fixed;
    margin-left: 71%;
}
#txt_cant_newproAd{
    position: fixed;
    margin-left: 68%;
}
#Adnewpro_name_txt{
    margin-top: 20px;
    margin-left: 75%;
    padding: 2px;
    width: 290px;
}
#Adnewpro_tipe_txt{
    margin-top: 20px;
    margin-left: 75%;
    padding: 2px;
    width: 290px;
}
#Adnewpro_cant_txt{
    margin-top: 20px;
    margin-left: 75%;
    padding: 2px;
    width: 290px;
}
#conf_newproAd{
    font-size: 20px;
    margin-top: 35px;
    margin-left: 70%;
    padding: 7px 140px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}

/* LISTA DE ENTRADA ADMINISTRADOR */
#txt_entraAd{
    position: fixed;
    margin-left: 150px;
}
.busca_entraAd{
    font-size: 17px;
    width: 35%;
    margin-top: 17px;
    margin-left: 25%;
}
.buscar_Adentra{
    margin-top: 17px;
    margin-left: 5px;
    padding: 4px 25px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
.Adentra_Exc{
    margin-top: 17px;
    margin-left: 17%;
    padding: 4px 25px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}

/* LISTA DE SALIDA ADMINISTRADOR */
#txt_saliAd{
    position: fixed;
    margin-left: 150px;
}
.busca_saliAd{
    font-size: 17px;
    width: 35%;
    margin-top: 17px;
    margin-left: 25%;
}
.buscar_Adsali{
    margin-top: 17px;
    margin-left: 5px;
    padding: 4px 25px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
.Adsali_Exc{
    margin-top: 17px;
    margin-left: 17%;
    padding: 4px 25px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}

/* LISTA DE PROVEEDORES ADMINISTRADOR */
#txt_proveAd{
    position: fixed;
    margin-left: 152px;
}
.busca_proveAd{
    font-size: 17px;
    width: 35%;
    margin-top: 17px;
    margin-left: 26%;
}
.buscar_Adprove{
    margin-top: 17px;
    margin-left: 5px;
    padding: 4px 25px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
.Adprove_Exc{
    margin-top: 17px;
    margin-left: 17%;
    padding: 4px 25px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}

/* CREAR BODEGA ADMINISTRADOR */
#AdBodtipe_txt{
    font-size: 17px;
    width: 33%;
    margin-top: 105px;
    margin-left: 34%;
}
#AdBodname_txt{
    font-size: 17px;
    width: 33%;
    margin-top: 35px;
    margin-left: 34%;
    margin-bottom: 12px;
}
#txt_tipeBodAd{
    margin-top: 105px;
    margin-left: 315px;
    position: fixed;
}
#txt_nameBodAd{
    margin-top: 40px;
    margin-left: 268px;
    position: fixed;
}
#canc_AdBod{
    font-size: 20px;
    margin-top: 19px;
    margin-left: 20%;
    padding: 5px 75px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
#conf_AdBod{
    font-size: 20px;
    margin-top: 19px;
    margin-left: 13%;
    padding: 5px 75px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}

/* CREAR USUARIO ADMINISTRADOR */
#AdUsertipe_txt{
    font-size: 17px;
    width: 33%;
    margin-top: 105px;
    margin-left: 34%;
}
#AdUsername_txt{
    font-size: 17px;
    width: 33%;
    margin-top: 35px;
    margin-left: 34%;
    margin-bottom: 12px;
}
#txt_tipeUserAd{
    margin-top: 105px;
    margin-left: 315px;
    position: fixed;
}
#txt_nameUserAd{
    margin-top: 40px;
    margin-left: 288px;
    position: fixed;
}
#AdUserpass_txt{
    font-size: 17px;
    width: 33%;
    margin-top: 35px;
    margin-left: 34%;
}
#AdUseragain_txt{
    font-size: 17px;
    width: 33%;
    margin-top: 35px;
    margin-left: 34%;
    margin-bottom: 12px;
}
#txt_passUserAd{
    margin-top: 35px;
    margin-left: 350px;
    position: fixed;
}
#txt_againUserAd{
    margin-top: 40px;
    margin-left: 190px;
    position: fixed;
}
#canc_AdUser{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20%;
    padding: 5px 75px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
#conf_AdUser{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 13%;
    padding: 5px 75px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}

/* MENU JEFE DE BODEGA */
#bt_move_liJe{
    display: flex;
    font-size: 28px;
    padding: 8px 100px ;
    margin-top: 20px;
    margin-left: 34%;
    margin-right: 35%;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
#bt_move_ediJe{
    display: flex;
    font-size: 28px;
    padding: 8px 122px;
    margin-top: 20px;
    margin-left: 34%;
    margin-right: 35%;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
#bt_move_leJe{
    display: flex;
    font-size: 28px;
    padding: 8px 112px ;
    margin-top: 20px;
    margin-left: 34%;
    margin-right: 35%;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
#bt_move_lsJe{
    display: flex;
    font-size: 28px;
    padding: 8px 115px ;
    margin-top: 20px;
    margin-left: 34%;
    margin-right: 35%;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
#bt_move_lpJe{
    display: flex;
    font-size: 28px;
    padding: 8px 88px ;
    margin-top: 20px;
    margin-left: 34%;
    margin-right: 35%;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
#bt_move_cbJe{
    display: flex;
    font-size: 28px;
    padding: 8px 125px ;
    margin-top: 20px;
    margin-left: 34%;
    margin-right: 35%;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
#bt_move_soliJe{
    display: flex;
    font-size: 28px;
    padding: 8px 140px ;
    margin-top: 20px;
    margin-left: 34%;
    margin-right: 35%;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}

/* LISTADO DE BODEGA JEFE DE BODEGA */
#txt_listadoJe{
    position: fixed;
    margin-left: 150px;
}
.busca_listadoJe{
    font-size: 17px;
    width: 35%;
    margin-top: 17px;
    margin-left: 25%;
}
.buscar_Jelistado{
    margin-top: 17px;
    margin-left: 5px;
    padding: 4px 25px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
.Jelista_Exc{
    margin-top: 17px;
    margin-left: 17%;
    padding: 4px 25px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}

/* EDITAR BODEGA JEFE DE BODEGA */
.Newpro_Je{
    position: fixed;
    font-size: 20px;
    margin-top: 30%;
    margin-left: 8%;
    padding: 4px 47px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
.Extra_Je{
    position: fixed;
    font-size: 20px;
    margin-top: 30%;
    margin-left: 38%;
    padding: 4px 78px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
.Exist_Je{
    position: fixed;
    font-size: 20px;
    margin-top: 35%;
    margin-left: 8%;
    padding: 4px 25px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
.Delet_Je{
    position: fixed;
    font-size: 20px;
    margin-top: 35%;
    margin-left: 38%;
    padding: 4px 75px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
#titul_edit_testJe{
    font-size: 25px;
    margin-left: 70%;
}
#txt_name_newproJe{
    position: fixed;
    margin-left: 69%;
}
#txt_tipe_newproJe{
    position: fixed;
    margin-left: 71%;
}
#txt_cant_newproJe{
    position: fixed;
    margin-left: 68%;
}
#Jenewpro_name_txt{
    margin-top: 20px;
    margin-left: 75%;
    padding: 2px;
    width: 290px;
}
#Jenewpro_tipe_txt{
    margin-top: 20px;
    margin-left: 75%;
    padding: 2px;
    width: 290px;
}
#Jenewpro_cant_txt{
    margin-top: 20px;
    margin-left: 75%;
    padding: 2px;
    width: 290px;
}
#conf_newproJe{
    font-size: 20px;
    margin-top: 35px;
    margin-left: 70%;
    padding: 7px 140px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}

/* LISTA DE ENTRADA JEFE DE BODEGA */
#txt_entraJe{
    position: fixed;
    margin-left: 150px;
}
.busca_entraJe{
    font-size: 17px;
    width: 35%;
    margin-top: 17px;
    margin-left: 25%;
}
.buscar_Jeentra{
    margin-top: 17px;
    margin-left: 5px;
    padding: 4px 25px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
.Jeentra_Exc{
    margin-top: 17px;
    margin-left: 17%;
    padding: 4px 25px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}

/* LISTA DE SALIDA JEFE DE BODEGA */
#txt_saliJe{
    position: fixed;
    margin-left: 150px;
}
.busca_saliJe{
    font-size: 17px;
    width: 35%;
    margin-top: 17px;
    margin-left: 25%;
}
.buscar_Jesali{
    margin-top: 17px;
    margin-left: 5px;
    padding: 4px 25px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
.Jesali_Exc{
    margin-top: 17px;
    margin-left: 17%;
    padding: 4px 25px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}

/* LISTA DE PROVEEDORES */
#txt_proveJe{
    position: fixed;
    margin-left: 152px;
}
.busca_proveJe{
    font-size: 17px;
    width: 35%;
    margin-top: 17px;
    margin-left: 26%;
}
.buscar_Jeprove{
    margin-top: 17px;
    margin-left: 5px;
    padding: 4px 25px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
.Jeprove_Exc{
    margin-top: 17px;
    margin-left: 17%;
    padding: 4px 25px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}

/* CREAR BODEGA JEFE DE BODEGA */
#JeBodtipe_txt{
    font-size: 17px;
    width: 33%;
    margin-top: 105px;
    margin-left: 34%;
}
#JeBodname_txt{
    font-size: 17px;
    width: 33%;
    margin-top: 35px;
    margin-left: 34%;
    margin-bottom: 12px;
}
#txt_tipeBodJe{
    margin-top: 105px;
    margin-left: 315px;
    position: fixed;
}
#txt_nameBodJe{
    margin-top: 40px;
    margin-left: 268px;
    position: fixed;
}
#canc_JeBod{
    font-size: 20px;
    margin-top: 19px;
    margin-left: 20%;
    padding: 5px 75px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
#conf_JeBod{
    font-size: 20px;
    margin-top: 19px;
    margin-left: 13%;
    padding: 5px 75px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}

/* MENU MINERO */
.line_Mititule{
    color: rgb(255, 255, 255);
    margin-left: 30%;
    margin-right: 30%;
}
#bt_move_liMi{
    display: flex;
    font-size: 28px;
    padding: 10px 100px ;
    margin-top: 100px;
    margin-left: 34%;
    margin-right: 35%;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
#bt_move_entrMi{
    display: flex;
    font-size: 28px;
    padding: 10px 90px;
    margin-top: 20px;
    margin-left: 34%;
    margin-right: 35%;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
#bt_move_retMi{
    display: flex;
    font-size: 28px;
    padding: 10px 95px ;
    margin-top: 20px;
    margin-left: 34%;
    margin-right: 35%;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}

/* LISTADO DE BODEGA MINERO */
#txt_listadoMi{
    position: fixed;
    margin-left: 150px;
}
.busca_listadoMi{
    font-size: 17px;
    width: 35%;
    margin-top: 17px;
    margin-left: 25%;
}
.buscar_Milistado{
    margin-top: 17px;
    margin-left: 5px;
    padding: 4px 25px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
.Milista_Exc{
    margin-top: 17px;
    margin-left: 17%;
    padding: 4px 25px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}

/* ENTREGA DE PRODUCTO MINERO */
#bt_move_liexisMi{
    display: flex;
    font-size: 28px;
    padding: 10px 100px ;
    margin-top: 100px;
    margin-left: 34%;
    margin-right: 35%;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}
#bt_move_newprMi{
    display: flex;
    font-size: 28px;
    padding: 10px 90px;
    margin-top: 20px;
    margin-left: 34%;
    margin-right: 35%;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}

/* ENTREGA DE PRODUCTO EXISTENTE MINERO */
#titul_edit_testMi{
    font-size: 25px;
    margin-top: 45px;
    margin-left: 70%;
}
#txt_name_exisproMi{
    position: fixed;
    margin-left: 69%;
}
#txt_tipe_exisproMi{
    position: fixed;
    margin-left: 70%;
}
#txt_cant_exisproMi{
    position: fixed;
    margin-left: 68%;
}
#Miexispro_name_txt{
    margin-top: 20px;
    margin-left: 75%;
    padding: 2px;
    width: 290px;
}
#Miexispro_tipe_txt{
    margin-top: 20px;
    margin-left: 75%;
    padding: 2px;
    width: 290px;
}
#Miexispro_cant_txt{
    margin-top: 20px;
    margin-left: 75%;
    padding: 2px;
    width: 290px;
}
#conf_exisproMi{
    font-size: 20px;
    margin-top: 35px;
    margin-left: 70%;
    padding: 7px 140px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}

/* ENTREGA DE NUEVO PRODUCTO MINERO */
#txt_name_newproMi{
    position: fixed;
    margin-left: 69%;
}
#txt_tipe_newproMi{
    position: fixed;
    margin-left: 71%;
}
#txt_date_newproMi{
    position: fixed;
    margin-left: 70%;
}
#txt_cant_newproMi{
    position: fixed;
    margin-left: 68%;
}
#Minewpro_name_txt{
    margin-top: 20px;
    margin-left: 75%;
    padding: 2px;
    width: 290px;
}
#Minewpro_tipe_txt{
    margin-top: 20px;
    margin-left: 75%;
    padding: 2px;
    width: 290px;
}
#Minewpro_date_txt{
    margin-top: 20px;
    margin-left: 75%;
    padding: 2px;
    width: 290px;
}
#Minewpro_cant_txt{
    margin-top: 20px;
    margin-left: 75%;
    padding: 2px;
    width: 290px;
}
#conf_newproMi{
    font-size: 20px;
    margin-top: 35px;
    margin-left: 70%;
    padding: 7px 140px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}

/* RETIRAR PRODUCTO MINERO */
#txt_name_retproMi{
    position: fixed;
    margin-left: 69%;
}
#txt_tipe_retproMi{
    position: fixed;
    margin-left: 69%;
}
#txt_date_retproMi{
    position: fixed;
    margin-left: 70%;
}
#txt_cant_retproMi{
    position: fixed;
    margin-left: 68%;
}
#Miretpro_name_txt{
    margin-top: 20px;
    margin-left: 75%;
    padding: 2px;
    width: 290px;
}
#Miretpro_tipe_txt{
    margin-top: 20px;
    margin-left: 75%;
    padding: 2px;
    width: 290px;
}
#Miretpro_date_txt{
    margin-top: 20px;
    margin-left: 75%;
    padding: 2px;
    width: 290px;
}
#Miretpro_cant_txt{
    margin-top: 20px;
    margin-left: 75%;
    padding: 2px;
    width: 290px;
}
#conf_retproMi{
    font-size: 20px;
    margin-top: 35px;
    margin-left: 70%;
    padding: 7px 140px;
    border: 1px solid gray;
    background-image: linear-gradient(white,gainsboro);
    text-decoration: none;
    color: black;
}